.cardContainer {
  width: 100%;
  max-width: 320px;
  height: 200px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.cardFront,
.cardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
  background: #577dbe;
}

.cardFront {
  background: white;
}

.cardContainer:hover {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.container {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  min-height: 300px;
  height: 90%;
  max-height: 600px;
  width: 400px;
  max-width: 100%;
}

.mainContent {
  height: 60%;
  position: relative;
  color: #577dbe;
  font-weight: 400;
  line-height: 125%;
  font-size: 1.8rem;
  background: transparent;
  z-index: 2;
}

.subContent {
  font-size: 1.2rem;
  font-weight: 300;
}

.additionalContent {
  height: 10%;
  display: flex;
  flex-direction: row;
}

.tags {
  background: #fff;
  border: 1px solid #efefef;
  padding: 3px 5px;
  height: 20px;
  border-radius: 3px;
  margin-left: 5px;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 150%;
}
