.gridQuoteContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: repeat(5, 200px);
  grid-column-gap: 10px;
}

.cardContainer {
  width: 100%;
  max-width: 320px;
  height: 200px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.cardFront,
.cardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
}
.cardBack {
  transform: rotateY(180deg);
  background: blue;
}

.cardFront {
  background: white;
}

.flipped {
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-name: flipToBack;
  animation-fill-mode: forwards;
}

.unflipped {
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-name: flipToFront;
  animation-fill-mode: forwards;
}

@keyframes flipToBack {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@keyframes flipToFront {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quote {
  composes: mainContent from './Card.module.css';
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.author {
  composes: subContent from './Card.module.css';
}

.tagContainer {
  composes: additionalContent from './Card.module.css';
}

.tags {
  composes: tags from './Card.module.css';
}
